        
input[ value="registrer" ] {
    color: white;
    background-color: blue;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    
}
.form-control{
    padding-bottom: 20 px;
}
.form-control label{
    display: inline-block;
    margin-bottom: 7px;
}
.form-control input{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
